<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ImageMapper">
    <insert id="addImage" parameterType="PageData">
        insert into
        t_image
        (id, `url`, `videoId`, `type`, addTime, sort)
        values
        (#{id}, #{url},#{videoId}, #{type}, #{addTime}, #{sort})
    </insert>

    <update id="modifyImage" parameterType="PageData">
        update t_image
        <trim prefix="set" suffixOverrides=",">
            <if test="url !=null ">`url` = #{url},</if>
            <if test="type !=null ">`type` = #{type},</if>
            <if test="addTime !=null ">`addTime` = #{addTime},</if>
        </trim>
        where id = #{id}
    </update>

    <select id="getImage" parameterType="PageData" resultType="PageData">
        select * from t_image where videoId = #{videoId} and `type` = #{type}
         <if test="sort != null">
             and sort = #{sort}
         </if>
    </select>

    <select id="getImageList" parameterType="PageData" resultType="PageData">
        select * from t_image
        where 1 = 1
        <if test="id != null" >
            and id = #{id}
        </if>

        <if test="videoId != null" >
            and `videoId` = #{videoId}
        </if>

        <if test="type != null" >
            and `type` = #{type}
        </if>
        order by sort
    </select>

    <delete id="deleteImage">
        delete from t_image where videoId = #{videoId} and `type` = #{type}
        <if test="sort != null">
            and sort = #{sort}
        </if>
    </delete>
</mapper>