<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="VideoInCountryMapper">
    <insert id="addVideoInCountry" parameterType="PageData">
        insert into
        t_video_in_country
        (id, `videoId`, countryId)
        values
        (#{id}, #{videoId}, #{countryId})
    </insert>

    <update id="modifyVideoInCountry" parameterType="PageData">
        update t_video_in_country
        <trim prefix="set" suffixOverrides=",">
            <if test="videoId !=null ">`videoId` = #{videoId},</if>
            <if test="countryId !=null ">`countryId` = #{countryId},</if>
        </trim>
        where id = #{id}
    </update>

    <select id="getVideoInCountry" parameterType="PageData" resultType="PageData">
        select * from t_video_in_country where
        1 = 1
        <if test="videoId != null" >
            and videoId = #{videoId}
        </if>

        <if test="countryId != null" >
            and `countryId` = #{countryId}
        </if>
    </select>

    <select id="getVideoInCountryList" parameterType="PageData" resultType="PageData">
        select * from t_video_in_country
        where 1 = 1
        <if test="videoId != null" >
            and videoId = #{videoId}
        </if>

        <if test="countryId != null" >
            and `countryId` = #{countryId}
        </if>
    </select>

    <delete id="deleteVideoInCountry">
        delete from t_video_in_country where videoId = #{videoId}
    </delete>
</mapper>