<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="VideoRecommendMapper">
    <insert id="addVideoRecommend" parameterType="PageData">
        insert into
        t_video_recommend
        (id, `videoId`, startTime, endTime, addTime)
        values
        (#{id}, #{videoId}, #{startTime}, #{endTime}, #{addTime})
    </insert>

    <update id="modifyVideoRecommend" parameterType="PageData">
        update t_video_recommend
        <trim prefix="set" suffixOverrides=",">
            <if test="videoId !=null ">`videoId` = #{videoId},</if>
            <if test="startTime !=null ">`startTime` = #{startTime},</if>
            <if test="endTime !=null ">`endTime` = #{endTime},</if>
        </trim>
        where id = #{id}
    </update>

    <select id="getVideoRecommend" parameterType="PageData" resultType="PageData">
        select * from t_video_recommend where id = #{id}
    </select>

    <select id="getVideoRecommendList" parameterType="PageData" resultType="PageData">
        select * from t_video_recommend
        where 1 = 1
        <if test="startTime != null">
            and startTime &gt;= #{startTime}
        </if>

        <if test="endTime != null">
            and endTime &lt;= #{endTime}
        </if>
    </select>

    <delete id="deleteVideoRecommend" parameterType="PageData">
        delete from t_video_recommend where id = #{id}
    </delete>
</mapper>